<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
        }
        .weather-container {
            display: inline-block;
            padding: 20px;
            border-radius: 10px;
            background-color: #f9f9f9;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }
        .back-button {
            display: block;
            width: 150px;
            margin: 20px auto;
            padding: 10px;
            background-color: blue;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 1em;
        }
    </style>
</head>
<body>
    <h1>Weather</h1>
    <div class="weather-container">
        <h2><%= weatherData.city %></h2>
        <img src="https://openweathermap.org/img/wn/<%= weatherData.icon %>@2x.png" alt="weather icon">
        <p><%= weatherData.weather %></p>
        <p>Температура: <%= weatherData.temperature %>°C</p>
        <p>Вологість: <%= weatherData.humidity %>%</p>
        <p>Тиск: <%= weatherData.pressure %> hPa</p>
        <a href="/" class="back-button">Back to Home</a>
    </div>
</body>
</html>
